@import "variables";
@import "typography";
@import "buttons";
@import "menu";
@import "layout";

/* ==================================================
   Global Styles
================================================== */

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
}

::selection, ::-moz-selection {
}

a {
  $anchor-color: lighten(scale_color($link-color, $saturation: 20%), 20%);

  color: $anchor-color;
  text-decoration: none; //fallback
  text-decoration: underline solid currentColor;

  &:hover {
    color: darken($anchor-color, 20%);
  }
}

.mobile-only {
  @media screen and (min-width: $mobile-breakpoint) {
    display: none;
  }
}

.desktop-and-tablet-only {
  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }
}

/* ==================================================
   Images
================================================== */

img {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

/* ==================================================
   Sections
================================================== */

#sidebar {
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-flow: column nowrap;
  justify-content: normal;
  align-items: stretch;

  @media (max-width: $mobile-breakpoint) {
    padding-bottom: $default-gutter / 2;
  }

  #logo {
    padding: $default-gutter;
    width: 100%;

    .icon {
      display: block;
      padding: 15px;
      height: 126px;
      width: 126px;
      margin: 0 auto 10px;
    }

    .text {
      width: 100%;
      font-size: 30px;
      line-height: .8;
      font-weight: 600;
      font-family: $wide-font-family;
      text-align: center;
      text-transform: uppercase;

      @media (min-width: $mobile-breakpoint) {
        &.desktop-and-tablet-only {
          display: table-caption; // minimizes line width
        }
      }
    }

    a {
      text-decoration: none;
    }
  }
}

#main {
  @media (min-width: $mobile-breakpoint) {
    padding: 2rem;
  }
  @media (max-width: $mobile-breakpoint) {
    padding: 1rem;
  }
}

#main p:last-child {
    margin: 0;
}

.post-header {
  .byline {
    .date {
      font-variant-caps: small-caps;
    }
  }
}

#post {
  margin: 0 auto;
  max-width: 700px;
}

#footercont {
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-size: 11px;
}

.relative.dark-mode-toggle {
  display: none;
}

.flex {
  display: block;
}

.w-screen {
  width: 100%;
}

.px-8 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.max-w-prose {
  max-width: 100% !important;
}

.viewer.w-full.max-w-prose.px-8.not-prose.mt-3 {
  display: none;
}
